$screen-s: 479px;
$screen-m: 767px;
$screen-l: 991px;

$new-screen-s: 576px;
$new-screen-m: 768px;
$new-screen-l: 992px;
$new-screen-xl: 1200px;

// Greyscale colors
$color-white: #fff;
$color-very-light-grey: #F8F9FA;
$color-medium-light-grey: #F1F1F3;
$color-light-grey: #aeaeae;
$color-grey: #484848;
$color-dark-grey: #848282;
$color-very-dark-grey: #333;
$color-white-opacity-40: rgba(255, 255, 255, 0.4);
$color-black: #000000;

// Colors
$color-green: #68b030;
$color-purple: #7d4698;
$color-dark-purple: #59316B;
$color-very-dark-purple: #32173E;
$color-blue-violet: #8a2be2;
$color-red: red;
$color-lime: #00ff00;

$base-font-color: $color-grey;
$base-font-family: 'Source Sans Pro', sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 20px;

$mono-font-family: 'Source Code Pro', monospace;
$league-gothic-font-family: 'League Gothic', 'sans-serif';

$font-size-medium: 20px;
