.campaign-totals-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $color-black;
  padding-bottom: 100px;

  .characters {
    display: flex;
    justify-content: center;
    line-height: normal;
    margin: 10px 30px;

    .character {
      position: relative;
      font-size: 130px;
      font-family: $league-gothic-font-family;

      .cover {
        background: $color-lime;
        bottom: 0;
        left: 0;
        position: absolute;
        visibility: hidden;
        right: 0;
        top: 0;
        z-index: 1;
      }

      &.covered .cover {
        visibility: visible;
      }

      &.resolved {
        color: $color-lime;
      }
    }
  }

  .label {
    font-size: 18px;
    text-align: center;
    font-family: monospace;
    color: $color-white;
  }

}

.donate-options {
  display: flex;
  justify-content: center;
  margin: 30px auto 2%;

  button {
    background-color: $color-white;
    border: 2px solid $color-light-grey;
    color: $color-blue-violet;
    font-weight: normal;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    &.single {
      border-radius: 5px 0 0 5px;
      margin-right: 0;
      width: 150px;
    }
    &.monthly {
      border-left: none;
      border-radius: 0 5px 5px 0;
      margin-left: 0;
      width: 160px;
    }
    &.selected,
    &:hover {
      background-color: $color-lime;
    }
    &.selected {
      color: $color-black;
    }
  }
}
.payment-other-div {
  text-align: center;
  margin-bottom: 20px;
}
.perk-intro {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 5% 2% 5%;
  justify-content: center;
  text-align: center;

  .perk-title {
    font-size: 22px;
    margin-bottom: 0px;
  }
}

.price-change-warning {
  color: red;
}

#donationForm {
  margin: 0 auto 40px auto;
  max-width: 1024px;
}

.donation-selection-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto 2% auto 2%;
  max-width: 1024px;
  justify-content: center;

  @include breakpoint($screen-m) {
    flex-direction: row;
  }

  .donate-buttons {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;

    @include breakpoint($screen-m) {
      flex-direction: row;
      margin-right: 5px;
    }

    button.price-btn {
      line-height: 20px;
      background-color: $color-blue-violet;
      border-radius: 5px;
      border-style: none;
      color: $color-white;
      display: block;
      font-size: 23px;
      font-weight: normal;
      margin: 5px;
      padding: 20px 0px;
      text-align: center;
      text-decoration: none;
      width: 120px;
      cursor: pointer;
      &.selected {
        background-color: $color-lime;
        color: $color-black;
      }
      @include breakpoint($screen-m) {
        font-size: 29px;
      }
      &.promo {
        position: relative;
        &::before {
          position: absolute;
          display: block;
          background-color: $color-green;
          color: $color-white;
          content: 'LIMITED OFFER';
          width: 80px;
          height: 20px;
          font-size: 12px;
          top: -9px;
          left: 13px;
          padding: 0px 8px;
          border-radius: 16px;
          font-weight: 300;
        }
      }
    }
  }

  .other-amount-field {
    .error {
      color: $color-red;
      display: block;
      text-align: center;
    }
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .perk-amt {
      background-color: #f1f1f3;
      font-size: 23px;
      font-weight: bold;
      height: 60px;
      margin: 5px;
      min-width: 80px;
      text-transform: capitalize;
      text-align: center;
      width:100px;
    }
  }

  .no-perk-area {
    margin: 1% 1% 20px 1%;
    width: 100%;
    text-align: center;
  }

  label[for="no-perk-checkbox"] {
    font-size: 20px;
    line-height: 24px;
  }

  .perks {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    position: relative;
    z-index: 2;
    justify-content: space-evenly;

    @include breakpoint($screen-m) {
      border: none;
      flex-direction: row;
    }

    .perk {
      border-color: $color-light-grey;
      border-style: solid;
      border-width: 0px 1px 1px 1px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      &:first-child {
        border-top-width: 1px;
      }

      @include breakpoint($screen-m) {
        border: 1px solid $color-light-grey;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0px 5px 20px 5px;
        position: relative;
        width: 30%;
        top: 0px;
        flex-wrap: nowrap;
      }

      &.disabled {
        border-color: $color-very-light-grey;
        color: $color-light-grey;
        font-style: italic;

        img {
          opacity: 0.2;
        }

        select {
          color: $color-light-grey;
          font-style: italic;
        }

        .promo-red-dot {
          background-color: $color-light-grey;
        }
        .promo-price {
          color: $color-light-grey;
        }
      }

      .slides {
        position: relative;
        align-self: center;
        display: none;
        height: 175px;
        overflow: hidden;
        width: 100%;

        @include breakpoint($screen-m) {
          display: block;
          order: 2;
        }
      }

      img {
        display: block;
        margin: 0 auto;
        max-width: 50%;
        height: auto;
        @include breakpoint($screen-m) {
          max-width: 70%;
        }
      }

      .promo-red-dot {
        position: absolute;
        background: $color-red;
        top: 45px;
        right: 15px;
        color: $color-white;
        padding: 10px 20px;
        font-size: 28px;
        line-height: 31px;
        font-weight: bold;
        border-radius: 40px;
      }

      .price-tag-group {
        margin: 20px 0 20px 20px;
        font-size: 21px;
        font-weight: 600;
        width: 40%;
        @include breakpoint($screen-m) {
          font-size: 16px;
          order: 1;
          width: 100%;
        }
      }

      .promo-strike-through {
        text-decoration: line-through;
      }
      .promo-price {
        color: $color-dark-purple;
        font-weight: 700;
        &.large {
          font-size: 22px;
          font-weight: 600;
        }
      }

      .perk-label {
        font-size: 21px;
        font-weight: 700;
        margin: 20px 20px 20px 0;
        text-align: right;
        text-transform: uppercase;
        width: 40%;
        box-sizing: border-box;

        @include breakpoint($screen-m) {
          margin: 0;
          padding: 20px;
          padding-bottom: 0;
          font-size: 27px;
          width: 100%;
          order: 3;
          text-align: center;
        }
      }

      .perk-desc {
        font-size: 16px;
        font-weight: 300;
        display: none;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;

        @include breakpoint($screen-m) {
          display: block;
          margin: 0 11px 0 11px;
          order: 4;
          padding-left: 4px;
          padding-right: 4px;
          width: auto;
        }
      }

      .perk-sub-select {
        display: none;
        border-color: #aeaeae;
        margin: 10px 10px 10px 10px;
        width: 100%;

        @include breakpoint($screen-m) {
          display: block;
          order: 5;
          width: 92%;
        }
      }
    }

    .selected {
      background-color: $color-green;
      transition: all 0.5s;

      .slides {
        display: block;
      }

      .perk-desc {
        display: block;
      }

      .perk-sub-select {
        display: block;
      }

      @include breakpoint($screen-m) {
        background-color: $color-white;
        box-shadow: 8px 8px $color-green;
        position: relative;
        top: -4px;
      }
    }
  }

  .totals-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4%;
    position: relative;

    &, div, input {
      position: relative;
      z-index: 1;
    }

    .fist-bg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      height: auto;
    }

    @include breakpoint($screen-m) {
      order: 4;
      width: 100%;
    }

    .matching-message {
      color: $color-dark-purple;
      font-size: 35px;
      line-height: normal;
      padding-top: 10px;
      text-align: center;
      width: 100%;
    }

    .matched-amount {
      color: $color-dark-purple;
      font-size: 100px;
      font-weight: bold;
      line-height: normal;
      text-align: center;
      width: 100%;
    }

  }
}

.payment-method-area,
.info-area {
  position: relative;
  z-index: 2;
}

.payment-method-area {
  border-bottom: 2px solid $color-light-grey;
  border-top: 2px solid $color-light-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 4% 21px;
  text-align: center;

  button {
    width: 160px;
    vertical-align: top;
    line-height: 20px;
    color: $color-blue-violet;
    &.paypal {
      padding-top: 8px;
      padding-bottom: 5px;
      img {
        height: 32px;
      }
    }
  }
  .payment-method-question {
    margin-bottom: 3%;
  }
  .payment-option {
    margin-bottom: 2%;
  }
}

.info-area {
  padding-top: 4%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  text-align: center;


  #firstName {
    width: 100%;
    @include breakpoint($screen-m) {
      width: 50%;
    }
  }
  #lastName {
    width: 100%;
    @include breakpoint($screen-m) {
      width: 50%;
    }
  }
  #streetAddress {
    width: 100%;
    @include breakpoint($screen-m) {
      width: 80%;
    }
  }
  #extendedAddress {
    width: 20%;
  }
  #country {
    width: 100%;
  }
  #locality {
    width: 38%;
    @include breakpoint($screen-m) {
      width: 35%;
    }
  }
  #region {
    width: 45%;
    @include breakpoint($screen-m) {
      width: 40%;
    }
  }
  #postalCode {
    width: 100%;
    @include breakpoint($screen-m) {
      width: 25%;
    }
  }
  #email {
    width: 100%;
    @include breakpoint($screen-m) {
      width: 56%;
    }
  }
  .receipt {
    display: none;
    @include breakpoint($screen-m) {
      display: block;
    }
  }
  #mailingListOptIn {
    margin: 10px 4px 10px 10px;
  }
  #cardNumber {
    width: 100%;
    @include breakpoint($screen-m) {
      width: 56%;
    }
  }
  img.credit-cards {
    display: none;

    @include breakpoint($screen-m) {
      display: block;
      height: 29px;
      vertical-align: middle;
    }
  }
  #expMonth {
    width: 38%;
    @include breakpoint($screen-m) {
      width: 33%;
    }
  }
  #expYear {
    width: 38.5%;
    @include breakpoint($screen-m) {
      width: 33%;
    }
  }
  #cvc {
    width: 38%;
    @include breakpoint($screen-m) {
      width: 33%;
    }
  }
  #perk-fields {
    display: block;
    margin: 10px;
    text-align: left;

    #selected-perk-fields-label {
      margin-top: 10px;
    }

    #perk-fit {
      margin-left: 0px;
    }
  }

  .donate-submit-area {
    color: $color-dark-grey;
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0;
    line-height: 26px;
  }

  .donate.button {
    background-color: $color-lime;;
    color: $color-black;
    text-transform: uppercase;
    width: 300px;
  }
}

#donate-comments-wrapper {
  text-align: left;

  textarea {
    width: 95%;

    @include breakpoint($screen-m) {
      width: 97%;
    }
  }
}
