<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{  this.alt }}" {% if bag('alternatives', this.alt, 'direction') == 'text-right' %}dir="rtl" {% endif %}>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ _('Defend yourself against tracking and surveillance. Circumvent censorship.') }} | {{ this.title }}">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@torproject" />
  <meta name="twitter:creator" content="@torproject" />
  <meta name="twitter:image" content="https://donate.torproject.org/static/images/donate/social-media-card.png"/>
  <meta property="og:url" content="https://donate.torproject.org/" />
  <meta property="og:title" content="{{ _('Use a mask, Use Tor') }}" />
  <meta property="og:description" content="{{ _('Resist the surveillance pandemic. Donate to the Tor Project.') }}" />
  <meta property="og:image" content="https://donate.torproject.org/static/images/donate/social-media-card.png" />
  <link rel="stylesheet" href="{{ '/static/css/bootstrap.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/static/fonts/fontawesome/css/all.min.css'|asseturl }}" rel="stylesheet">
  <!-- Standard favicon -->
  <link rel="icon" type="image/x-icon" href="https://www.torproject.org/static/images/favicon/favicon.ico">
  <!-- Recommended favicon format -->
  <link rel="icon" type="image/png" href="https://www.torproject.org/static/images/favicon/favicon.png">
  <title>{{ _("Tor Project") }} | {% block title %}{{ this.title }}{% endblock %}</title>
  {% block head %}{% endblock %}
</head>
